GestionPermisos/Connected Services/SGPServiceAsistencia/SGPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SGPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sgpcloudservice.cloudapp.net/SGPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sgpcloudservice.cloudapp.net/SGPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sgpcloudservice.cloudapp.net/SGPService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISGPService_SQL_GET_DATASET_InputMessage">
    <wsdl:part name="parameters" element="tns:SQL_GET_DATASET" />
  </wsdl:message>
  <wsdl:message name="ISGPService_SQL_GET_DATASET_OutputMessage">
    <wsdl:part name="parameters" element="tns:SQL_GET_DATASETResponse" />
  </wsdl:message>
  <wsdl:message name="ISGPService_SQL_NON_QUERY_InputMessage">
    <wsdl:part name="parameters" element="tns:SQL_NON_QUERY" />
  </wsdl:message>
  <wsdl:message name="ISGPService_SQL_NON_QUERY_OutputMessage">
    <wsdl:part name="parameters" element="tns:SQL_NON_QUERYResponse" />
  </wsdl:message>
  <wsdl:portType name="ISGPService">
    <wsdl:operation name="SQL_GET_DATASET">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/SQL_GET_DATASET" message="tns:ISGPService_SQL_GET_DATASET_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/SQL_GET_DATASETResponse" message="tns:ISGPService_SQL_GET_DATASET_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SQL_NON_QUERY">
      <wsdl:input wsaw:Action="http://tempuri.org/ISGPService/SQL_NON_QUERY" message="tns:ISGPService_SQL_NON_QUERY_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISGPService/SQL_NON_QUERYResponse" message="tns:ISGPService_SQL_NON_QUERY_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISGPService" type="tns:ISGPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SQL_GET_DATASET">
      <soap:operation soapAction="http://tempuri.org/ISGPService/SQL_GET_DATASET" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SQL_NON_QUERY">
      <soap:operation soapAction="http://tempuri.org/ISGPService/SQL_NON_QUERY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SGPService">
    <wsdl:port name="BasicHttpBinding_ISGPService" binding="tns:BasicHttpBinding_ISGPService">
      <soap:address location="http://sgpcloudservice.cloudapp.net/SGPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>